<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Simple Stock Price Plots">
    <meta name="author" content="mcgowan.cj@gmail.com">

    <title>ERROR: No prices</title>

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename = "styles.css")}}">
  </head>
  <body>

    <div class="topnav">
      <a href="/">Home</a>
      <a target='_blank' href = 'https://www.thedataincubator.com/'>TDI</a>
    </div>

    <div class="content">
      <div class="row">
        <div class="col-lg-12 text-left">
          <h2> 
            Error
          </h2>
          <p>
            Please check at least one stock price.
            <li><a href="/">Back</a></li>
        </div>
      </div>
    </div>
  </body>
</html>
